:root {
  --dark-green: #3fa652;
  --black: #222327;
  --body-color: #f7f7e7;
  --home-exibitions: #308fac;
  --home-explore: #f4e604;
  --simple-white: #fff;
  --visit-home: #0457ac;
  --home-get-involved: #a7e237;
}
/* <-- global styling --> */

body {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  /* max-width: 1200px; */
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--body-color);
}
h1,
h2,
h3,
a {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
}

/*      Nav styling           */

.logo img {
  max-width: 130px;
  margin-left: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--simple-white);
}

header label {
  cursor: pointer;
  margin-right: 20px;
  font-size: 33px;
  color: var(--black);
}

nav {
  display: none;
  position: fixed;
  top: 110px;
  right: 10px;
  z-index: 100;
  background: var(--simple-white);
  border: 1px solid var(--black);
}

nav ul {
  list-style: none;
  margin-right: 20px;
  padding: 10px;
}

nav li {
  padding: 10px 20px;
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: var(--black);
  /* font-size: 0.8rem; */
}

.active {
  color: var(--dark-green);
  border-bottom: 2px solid var(--dark-green);
  font-weight: 600;
}

#hamburger {
  display: none;
}

#hamburger:checked ~ nav {
  display: block;
}

/*      Home page styling     */

.home-banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 400px;
  background: url(images/home/homebanerresized.jpg) no-repeat center;
  background-size: cover;
  margin: 20px auto;
}
.home-heading_banner {
  text-transform: uppercase;
  text-align: left;
  padding-left: 10px;
}
/*      home right-left headings       */

.right-home-heading {
  height: 100px;
  text-align: center;
  border-radius: 25px 0 0 25px;
  margin: 60px 0 100px 30%;
}
.left-home-heading {
  height: 100px;
  text-align: center;
  border-radius: 0 25px 25px 0;
  margin: 60px 30% 100px 0;
}

.right-home-heading a,
.left-home-heading a {
  color: var(--simple-white);
  line-height: 100px;
  letter-spacing: 2px;
}
.exibiton_heading_color {
  background-color: var(--home-exibitions);
}
.explore_heading_color {
  background-color: var(--home-explore);
}
.visit_heading_color {
  background-color: var(--visit-home);
}
.get_involved_heading_color {
  background-color: var(--home-get-involved);
}

/*      home expeditions section       */

.home_exibition-items {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
  margin: 10px;
}

.home_expeditions a,
.home_explore_container a,
.home_visit_container a {
  z-index: 100;
  color: var(--simple-white);
  padding: 26px;
}

.home_exibitions_specific {
  width: 100%;
  min-height: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home_exibitions_specific::after {
  content: " ";
  display: block;
  position: absolute;
  background-color: var(--black);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 10;
}

.home_evolution_bg {
  background: url(images/home/mammoth-1257288_1920-min.jpg) center;
  background-size: cover;
}
.home_cosmology_bg {
  background: url(images/home/celso-405219-min.jpg) center;
  background-size: cover;
}
.home_biology-medicine_bg {
  background: url(images/home/samuel-zeller-113381-min.jpg) center;
  background-size: cover;
}
.home_robotics-ai_bg {
  background: url(images/home/samuel-zeller-sizesmall.jpg) center;
  background-size: cover;
}

/*      home explore section       */
.home_explore_container {
  display: grid;
  gap: 25px;
  margin: 10px;
  grid-template-columns: 1fr;
}
.home_explore_container div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  min-height: 450px;
  position: relative;
}
.home_explore_position1 {
  background: url(images/home/reading-2762010_1280-min.jpg) center;
  background-size: cover;
}
.home_explore_position2 {
  background: url(images/home/teacher-resized.jpg) center;
  background-size: cover;
}
.home_explore_position3 {
  background: url(images/home/roberto-nickson-396152-min.jpg) center;
  background-size: cover;
}
.home_explore_position4 {
  background: url(images/home/exhibition-1863344_1920-min.jpg) right;
  background-size: cover;
}

.image_opacity::after {
  content: " ";
  display: block;
  position: absolute;
  background-color: var(--black);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 10;
}

/*      visit home section      */
.home_visit_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin: 10px;
}

.home_visit_container div {
  display: grid;
  justify-items: center;
  align-items: end;
  min-height: 250px;
}

.home_visit_item1 {
  background: url(images/home/library-1132573_1920-min.jpg) center;
  background-size: cover;
}

.home_visit_item2 {
  background: url(images/home/accessability2.jpg) center;
  background-size: cover;
}
.home_visit_item3 {
  background: url(images/home/luke-ellis-craven-400722-min.jpg) center;
  background-size: cover;
}
.home_visit_item4 {
  background: url(images/home/mavis-cw-164128-min.jpg) center;
  background-size: cover;
}

/*      media styling     */

@media (min-width: 600px) {
  .home_explore_container {
    grid-template-columns: 1fr 1fr;
  }
  .home_exibition-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .home_visit_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .home_explore_container {
    grid-template-columns: repeat(4, 1fr);
  }
  .home_visit_container {
    grid-template-columns: repeat(4, 1fr);
  }
  .home_visit_item1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .home_visit_item2 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .home_visit_item3 {
    grid-column: 4 / 5;
    grid-row: 1/3;
  }
  .home_visit_item4 {
    grid-column: 1/4;
    grid-row: 2/3;
  }
}

@media (min-width: 824px) {
  nav {
    display: block;
    position: static;
    border: none;
  }
  nav a {
    font-size: 0.8rem;
  }
  nav li {
    display: inline-block;
  }
  header label {
    display: none;
  }
}

@media (min-width: 942px) {
  nav a {
    font-size: 1.25rem;
  }
  nav ul li a:hover {
    font-size: 1.5rem;
    transition: 500ms;
  }
}
