/*          page background color            */
main {
  background-color: var(--body-color);
}
/*           main heading and banner             */
.energetica-banner-container {
  background-color: var(--energetica-banner);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 400px;
  margin: 20px auto;
}
.energetica-heading_banner {
  font-size: 40px;
  margin: 10px;
  text-align: center;
}
.main-heading {
  text-decoration: underline;
}
/*          sub banner and main text section             */
.energetica_sub-banner {
  background: url(../images/explore/energetica_expedition/explore_energetica_8.jpg)
    50% 25% / cover;
}
.energetica_item1 {
  background: url(../images/explore/energetica_expedition/explore_energetica_2.jpg)
    center / cover;
}
.energetica_item2 {
  background: url(../images/explore/energetica_expedition/explore_energetica_3.jpeg)
    50% 90% / cover;
}
.energetica_item3 {
  background: url(../images/explore/energetica_expedition/explore_energetica_7.jpg)
    center / cover;
}

/*      carousel section       */

#en-r1:checked ~ .radio1 {
  flex: 5;
}
#en-r1:checked ~ .radio1 .carousel-pic1 {
  filter: opacity(1);
  object-fit: fill;
}
#en-r2:checked ~ .radio2 {
  flex: 5;
}
#en-r2:checked ~ .radio2 .carousel-pic2 {
  filter: opacity(1);
  object-fit: fill;
}
#en-r3:checked ~ .radio3 {
  flex: 5;
}
#en-r3:checked ~ .radio3 .carousel-pic3 {
  filter: opacity(1);
  object-fit: fill;
}
#en-r4:checked ~ .radio4 {
  flex: 5;
}
#en-r4:checked ~ .radio4 .carousel-pic4 {
  filter: opacity(1);
  object-fit: fill;
}

/* last heading for Energetica */

.last-heading-energetica {
  color: var(--black);
  text-align: center;
  margin: 30px auto;
}
