/*          page background color            */
main {
  background-color: var(--evolution-color);
}
/*           main heading and banner             */
.evolution-banner-container {
  background: url(../images/exibition/evolution/evolution_banner.jpeg) center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 400px;
  margin: 20px auto;
}
.evolution-heading_banner {
  font-size: 40px;
  margin: 10px;
  text-align: center;
}
.main-heading {
  text-decoration: underline;
}
/*          sub banner and main text section             */
.evolution_sub-banner {
  background: url(../images/exibition/evolution/evolution_small-banner.jpeg)
    right bottom / cover;
}
.evolution_item1 {
  background: url(../images/exibition/evolution/evolution_1.jpeg) center / cover;
}
.evolution_item2 {
  background: url(../images/exibition/evolution/evolution_4.jpg) 50% 90% / cover;
}
.evolution_item3 {
  background: url(../images/exibition/evolution/evolution_3.jpg) center / cover;
}

/*      carousel section       */

#ev-r1:checked ~ .radio1 {
  flex: 5;
}
#ev-r1:checked ~ .radio1 .carousel-pic1 {
  filter: opacity(1);
  object-fit: fill;
}
#ev-r2:checked ~ .radio2 {
  flex: 5;
}
#ev-r2:checked ~ .radio2 .carousel-pic2 {
  filter: opacity(1);
  object-fit: fill;
}
#ev-r3:checked ~ .radio3 {
  flex: 5;
}
#ev-r3:checked ~ .radio3 .carousel-pic3 {
  filter: opacity(1);
  object-fit: fill;
}
#ev-r4:checked ~ .radio4 {
  flex: 5;
}
#ev-r4:checked ~ .radio4 .carousel-pic4 {
  filter: opacity(1);
  object-fit: fill;
}
