/*           main heading and banner             */
.internship-banner-container {
  background: url(../images/get_involved/internship/internship_banner.jpeg)
    center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 400px;
  margin: 20px auto;
  filter: drop-shadow(2px 4px 6px #000);
}
.internship-heading_banner {
  font-size: 40px;
  margin: 10px;
  text-align: center;
}
.main-heading {
  text-decoration: underline;
}

/*           internship main section             */
.space-adjustment {
  width: 100%;
  height: 50px;
  background-color: var(--body-color);
}
.font-fix {
  font-size: 1rem;
}
