:root {
  --dark-green: #3fa652;
  --black: #222327;
  --body-color: #f7f7e7;
  --home-exibitions: #3fa652;
  --home-explore: #3fa652;
  --simple-white: #fff;
  --visit-home: #3fa652;
  --home-get-involved: #3fa652;
  --card-background-color: #757575;
  --evolution-color: #308fac;
  --biology-color: #f1f1f1;
  --robotics-color: #d95636;
}
/* <-- global styling --> */

body {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-size: 1.25rem;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--body-color);
}
h1,
h2,
h3,
a {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-decoration: none;
}
.white {
  color: var(--simple-white);
}
.black {
  color: var(--black);
}
.cta {
  display: inline-block;
  margin: 30px;
  padding: 15px 50px;
  color: var(--simple-white);
  background-color: var(--dark-green);
  border: 1px solid var(--simple-white);
  border-radius: 10px;
}

/*      Nav styling           */

.logo img {
  max-width: 130px;
  margin-left: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--simple-white);
}

header label {
  cursor: pointer;
  margin-right: 20px;
  font-size: 33px;
  color: var(--black);
}

nav {
  display: none;
  position: fixed;
  top: 110px;
  right: 10px;
  z-index: 100;
  background: var(--simple-white);
  border: 1px solid var(--black);
}

nav ul {
  list-style: none;
  margin-right: 20px;
  padding: 10px;
}

nav li {
  padding: 10px 20px;
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: var(--black);
}

.active {
  color: var(--dark-green);
  border-bottom: 2px solid var(--dark-green);
  font-weight: 600;
}

#hamburger {
  display: none;
}

#hamburger:checked ~ nav {
  display: block;
}

/*      footer styling       */

footer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  background: var(--simple-white);
}
footer div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
footer div a {
  padding: 10px;
  color: var(--black);
}

/*      breadcrumbs section      */

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
  color: var(--black);
}
.breadcrumbs a:visited {
  color: var(--black);
}
.breadcrumbs a,
.breadcrumbs p {
  font-size: 16px;
}

/*      explore exibitions get involved second heading styling       */

.second-heading {
  text-align: center;
  font-size: 40px;
  margin: 50px auto;
}

/*      main subject section common element styling      */
.main-subject {
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
  gap: 10px;
}
.big {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}
.small {
  width: 100%;
  height: 200px;
}
.main-subject_small-container {
  display: flex;
  gap: 5px;
}
.span2 {
  grid-column: span 1;
}
.text-custom {
  font-size: 29px;
  letter-spacing: 1px;
  line-height: 40px;
}
.text-custom p {
  margin: 0 5px 20px 5px;
}
/*       carousel section common elements styling        */
.carousel {
  display: none;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 50px auto;
}
.carousel img {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border: 2px solid #fff;
  width: -webkit-fill-available;
  filter: opacity(0.4);
  object-fit: cover;
}
.carousel input {
  display: none;
}
.carousel label {
  flex: 1;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;
  transition: 800ms ease-in;
}

/*      last heading section on specific products pages       */
.last-heading {
  color: var(--simple-white);
  text-align: center;
  margin: 30px auto;
}
.underline {
  text-decoration: underline;
}

/*       get involved spesific pages common elements       */
.involved_products_main-section {
  text-align: center;
  font-size: 32px;
  background-color: var(--simple-white);
  letter-spacing: 1px;
  padding: 20px 5px;
  margin: 20px 0;
  text-transform: uppercase;
}

/*      animations      */

/* slide in */

.slide {
  animation: slide 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
